.selectarea {
    background-color: #ffe495c4;
    width: 9rem;
    display: block;
    margin-left: 3rem;
    border-radius: 3px;
    text-align: center;
    font-size: large;
}

.selectarea:hover {
    color: #7c0027;
    cursor: pointer;
}

#sel {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
    background-color: #ffbf00;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    padding: 2rem;
}



/* #hiadmin {
    border: #45a049 solid 2px;
    margin: auto 6rem;
    width: 10rem;
} */

#changeToppic {
    display: flex;
}

body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffbf00;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 40px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ffc71f;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #e7a201;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 775px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
}



h2 {
    text-align: center;
    color: #b08522;
}

#osusume {
    
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 775px;
}
#newfilepic {
    margin-left: 3rem;
    padding: auto;
}

#osususmetext {
    width: 15rem;
    height: 5rem;
    word-wrap: break-word;
}

#checked {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    background-color: #ffbf00;
    border: #efa907 3px solid;
    border-radius: 3px;
}