#hiadmin {
    border: #45a049 solid 2px;
    margin: auto 6rem;
    width: 10rem;
}

/* .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 3rem;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  .row {
    display: flex;
    border: red solid 4px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}

  .column {
    /* float: left; */
    width: 100%;
    padding: 30px;
    /* height: 2rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    border: rgb(24, 28, 255) solid 4px;
  }

  #datepicker {
    height: 20px;
    position: relative;
   
  }

  
