.selectarea {
    border: #6ce39e solid 2px;
    width: 9rem;
    display: block;
    margin-left: 3rem;
    text-align: center;
    font-size: large;
}

#sel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: #3a0071 solid 2px;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 10rem;
    padding: 2rem;
}

#hiadmin {
    border: #45a049 solid 2px;
    margin: auto 6rem;
    width: 10rem;
}


#changeForm {
    width: 70%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px rgb(255, 166, 0);
    font-size: large;

}



body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
input[type=number],
input[type=file],
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: large;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




select {
    width: 50%;
}



.r1 {
    border: #45a049 solid 5px;
    width: 35rem;
    position: relative;
    float: left;
    height: 500px; 
    margin:1rem;
    margin-left: 3rem;
    padding: 1rem;
}

#checked {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#feature {
    height:200px;
    width: 400px;
}




/* 以下是修改產品的 */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 3rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    margin: 2rem;
  }

  .selectcake {
    height: 3rem;
  }