.carouselContainer {
    width: 50%;
    height: 100%;
    position: relative;
    /* padding: 5px; */
    /* background: #fff; */
    border-radius: 16px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider img {
    min-width: 100%;
    max-width: 100%;
    object-fit: fill;
    border-radius: 12px;
}

#carouselPrevious,
#carouselNext {
    cursor: pointer;
    position: absolute;
    border-radius: 16px;
    background: #002233;
    color: #fff;
    padding: 15px;
    top: calc(50% - 25px);
    left: -20px;
}

#carouselNext {
    left: unset;
    right: -20px;
}

.dots {
    margin-top: 5px;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dots li {
    width: 10px;
    height: 10px;
    background-color: silver;
    border-radius: 50%;
    cursor: pointer;
}

li.dotActive {
    background-color: gray;
}