body {
    background-image: url(../../image/mainbackgroundtest.png)
}

.detailContainer {
    padding-top: 128px;
    position: relative;
}

.productBlock {
    display: flex;
    justify-content: center;
    height: 450px;
    background-color: #fff;
    margin: 0 auto;
}

.productContent {
    width: 400px;
    height: 95%;
    margin: 0 24px;
    border: 3px solid #b3b3b3;
    border-radius: 8px;
    color: #7a5500;
    padding-bottom: 20px;
}

.productContent h1 {
    padding: 10% 15% 0;
    font-size: 36px;
    white-space: nowrap;
}

.productContent ul {
    padding: 5% 15%;
}

.productContent li {
    list-style: none;
    padding: 8px;
    font-size: 24px;
    letter-spacing: 1px;
}

.productContent a {
    position: relative;
    top: 10%;
    left: 60%;
}

.bookingBtn {
    padding: 12px 36px;
    background-color: #ffa237;
    border: 0px;
    color: #7a5500;
    font-size: 24px;
    white-space: nowrap;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 45%;
    margin-top: 20%;
}

.bookingBtn:hover {
    cursor: pointer;
    background-color: #ffbf00;
}

.detailBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 64px auto;
}

.detailNavbar {
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa237;
    border-radius: 10px;
    font-weight: bold;
}

.detailNavbar li {
    font-size: 24px;
    list-style: none;
    position: relative;
    right: 8%;
}

.detailNavbar a {
    display: block;
    color: #7a5500;
    text-decoration: none;
    padding: 12px 16px;
}

.detailNavbar a:hover {
    background-color: #ffa237;
    cursor: pointer;
}

.detailContent {
    width: 750px;
    /* margin: 32px; */
    padding-bottom: 36px;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.detailContent h1 {
    padding-top: 2rem;
    padding-left: 4.5rem;
    color: #7a5500;
}

.detailContent pre {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    white-space: pre-line;
    padding: 0 52px 16px;
}

.expBlock {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
    margin-left: 3.5rem;

}

.detailContent h4 {
    margin: 12px;
}

.expBlock h4 {
    color: #7a5500;
}

.expImgBlock {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 12px;
    width: 80%;
    margin: auto;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.expImgBlock img {
    object-fit: cover;
    width: 160px;
    margin: 0.5rem;
    height: 120px;
}

.detailContent p {
    margin-right: 16px;
    font-size: small;
    color: #444;
    text-align: right;
}

@media (max-width: 960px) {
    body {
        width: 960px;
    }

    .carouselContainer,
    .productContent {
        width: 400px;
    }

    .productContent {}
}



/* new add background */

.detailContainer22 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    width: 80%;
    margin-left: 3.5rem;
    border-radius: 10px;
}


/* 新增心得 */
#expMessage>textarea {

    width: 98%;
    height: 3rem;
    margin-bottom: 10px;
    resize: none;
}

#expMessage {
    padding: 5px;
}

#expInput {
    margin-left: 5px;
    padding: 0.5rem 2rem;
    font-size: large;
    font-weight: bold;
    width: 30%;
    position: relative;
    left: 34%;
    border-radius: 10px;
    background-color: #ffa237;
    border: 0;
}

#expInput:hover {
    background-color: #ffbf00;
} 

.eachEXP {
    border-radius: 10px;
    background-color: #d8d8d8;
    padding: 17px;
    margin: 10px;
    /* background-image: url(../../image/EXPBG.png); */
}

.eachEXP>h3 {
    border-radius: 40px;
    padding: 1.5rem;
    width: 15rem;
    text-align: center;
    margin:1.5rem 1rem 0 1rem;
    margin-top: 1.5rem;
    background-color: #ffa237;
    border: 7px solid #d8d8d8;
    position: relative;
    z-index: 7;
}

.eachEXP>pre {
    /* background-color: #ffbc6f; */
    padding: 1.5rem;
    padding-bottom: 1.5rem ;
    padding-top: 2rem;
    margin: 0 2rem 0.5rem 2rem;
    border-radius: 10px;
    width: 80%;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    white-space: pre-line;
    background-color: #ffd817;
    position: relative;
    top: -1rem;
    z-index: 0;
}

.eachEXP>div {
    border-radius: 10px;
    background-color: #e6e6e6;
    width: 484px;
}

.eachEXP>p {
    margin-top: 2rem;
    margin-left: 5px;
    margin-bottom: 0;
}

body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    position: relative;
    
    margin: 0
    
}



/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}