/* 選擇按鈕CSS-s */
.selectarea {
    background-color: #ffbf00;
    width: 11rem;
    padding: 5px;
    display: block;
    margin-left: 3rem;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    border: #b98500 solid 2px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.selectarea:hover {
    background-color: #ff8a60c4;
    border: #f79a64c4 solid 2px;
    cursor: pointer;
    /* box-shadow: 0px 0px 7px rgb(154, 95, 0); */
}

#sel {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
    /* background-color: #ffbf00; */
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    padding: 2rem;
}
/* 選擇按鈕CSS-e */

div>h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    border-radius: 20px;
    color: #7a5500;
    background-color:  #ffb01e;
    width: 30rem;
    background:  #ffb01e;
}

table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#button {
    text-align: center;
    border-radius: 3px;
    background-color: rgb(255, 153, 153)8 ;
}
.mainTable>th {
    background-color: #ffb700;
    width: 6rem;
    height: 3rem;
}
.mainTable>td {
    background-color: #ffebc0;
    width: 6rem;
    height: 3rem;
}

#products {
    width: 20rem ;
    word-wrap:break-word;
    
}

.row {
    display: flex;
    justify-content: center;
   
}

.column {
    margin:0 10rem;
    
    font-size: large;
}