#sel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    flex-direction: row;
    justify-content: center;
    margin: 2rem 10rem;
    padding: 2rem;
}

.selectarea {
    background-color: #ffe495c4;
    width: 9rem;
    display: block;
    margin-left: 3rem;
    border-radius: 3px;
    text-align: center;
    font-size: large;
}

div>h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #7a5500;
    background-color:  #ffb01e;
    width: 30rem;
    background: radial-gradient(circle, #ffb01e, #ffb01e, #ffffff);
}

table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#button {
    text-align: center;
    border-radius: 3px;
    background-color: rgb(255, 153, 153)8 ;
}
.mainTable>th {
    background-color: #ffb700;
    width: 6rem;
    height: 3rem;
}
.mainTable>td {
    background-color: #ffebc0;
    width: 6rem;
    height: 3rem;
}

#products {
    width: 20rem ;
    word-wrap:break-word;
    
}

/* admin_reserveHistory Part */
#sel {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
    background-color: #ffbf00;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    padding: 2rem;
}

.row {
    display: flex;
    justify-content: center;
   
}

.column {
    margin:0 10rem;
    
    font-size: large;
}