#pageimg {
    width: 90%;
    display: block;
    margin: auto;
}



/* .locations {
    width: 50%;
    border: 4px blue solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */



h1, #cts {
    text-align: center;
}


#locations {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
   
    margin-left: auto;
    margin-right: auto;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }