.locContainer {
  width: 100%;

  display: flex;
}
body {
  background-image: url(../../image/mainbackgroundtest.png)
}


/* .locations {
      width: 50%;
      border: 4px blue solid;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  } */


/* 
  h1, #cts {
      text-align: center;
  } */


/* #locations {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
  } */


.card {
  background-color:  #ffa845;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 360px;
  border-radius: 12px;
  color: #885500;

  /* margin-left: auto;
      margin-right: auto; */
  margin: 48px auto;
}

iframe {
  padding: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container {
  padding: 0 16px 16px;
}

iframe {
  margin: 5px;
}

h1 {
  text-align: center;
  background-color: #ffa237;
  border-radius: 10px;
  width: 50%;
  position: relative;
  left: 25%;
  padding: 5px;
}