  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
      color: #885500;
      background-color: #ffbf00;
      padding: 1rem;
      border-radius: 10px;
      text-align: center;
      margin: 0;
  }

  /* Full-width input fields */
  input[type=email],
  input[type=tel],
  input[type=password] {
      width: 95%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;

  }

  input[type=checkbox] {
      padding: 0;
      height: 1rem;
  }

  label {
      font-size: large;
  }



  button:hover {
      opacity: 0.8;
  }


  .imgcontainer {
      width: 80%;
      height: 160px;
      text-align: center;
      margin: 24px auto 0;
      position: relative;

  }

  img.avatar {
      object-fit: fill;
      width: 100%;
      height: 120px;
      /* width: 40%; */
      /* border-radius: 80%; */
  }

  .container {
      /* padding: 16px; */
      width: 720px;
  }

  span.psw {
      float: right;
      padding-top: 16px;
  }

  .modal {
      margin: 128px 0 180px;
  }

  .modal-content {
      border: 1px solid #ccc;
      background-color: #fff5d6c4;
      width: 720px;
      margin: 0 auto;
      height: 520px;
      border-radius: 10px;
  }

  /* Set a style for all buttons */
  .tosignup {
      background-color: #ffa237;
      color: #7a5500;
      width: 300px;
      border: none;
      cursor: pointer;
      font-size: large;
      font-weight: bold;
      border-radius: 10px;
      text-decoration: none;
  }

  .toregist {
      background-color: rgb(180, 255, 146);
      /* padding: 10px 18px;
      margin: 20px 0; */
      border: none;
      cursor: pointer;
      width: 150px;
      /* height: 2.8rem; */
      font-size: large;
      font-weight: bold;
      border-radius: 10px;
      text-decoration: none;
      color: rgb(0, 0, 0);
  }

  .toforget {
      background-color: #bcbcff;
      color: rgb(0, 0, 0);
      border: none;
      cursor: pointer;
      width: 150px;
      font-size: large;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
  }

  @-webkit-keyframes animatezoom {
      from {
          -webkit-transform: scale(0)
      }

      to {
          -webkit-transform: scale(1)
      }
  }

  @keyframes animatezoom {
      from {
          transform: scale(0)
      }

      to {
          transform: scale(1)
      }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
      span.psw {
          display: block;
          float: none;
      }

      .cancelbtn {
          width: 100%;
      }
  }




  /* forgetPassword Page */

  .modal-content-scd {
      border: 1px solid #ccc;
      background-color: #fff5d6c4;
      width: 720px;
      margin: 0 auto;
      height: 360px;
  }

  .tocomfirm {
      background-color: rgb(255, 179, 0);
      margin: 16px 40%;
      border: none;
      cursor: pointer;
      width: 150px;
      height: 48px;
      /* height: 2.8rem; */
      font-size: large;
      border-radius: 10px;
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: bold;
  }

  input[type=submit]:hover {
      opacity: 0.8;
  }


/*----------------------------------------------------------*/
  .typeBox {
      display: flex;
      flex-flow: column;
      padding-left: 16px;
  }

  .btnBox {
      display: flex;
      justify-content: space-around;
      flex-flow: row;
      margin-top: 16px;
      height: 36px;
  }

  .rememberMe {
      display: flex;
  }

  @media (max-width: 960px) {
      .modal-content {
          width: 720px;
      }
  }