.mainContainer {
    padding-top: 64px;
    width: 100%;
}

.mainBlock1 img {
    object-fit: fill;
    width: 100%;
    max-height: 520px;
}

.mainBlock2 {
    width: 100%;
    height: 600px;
    position: relative;
    top: -4px;
    background-image: url(/Cake/image/mainImg/mainImg2.jpg);
    background-color: #00FFFF;
}

.infoBlock {
    width: 60%;
    height: 100%;
    position: relative;
    left: 20%;
    background-color: blue;
}

.info {
    width: 50%;
    height: 85%;
    background-color: #FFFFFF;
}

.infoImg {
    width: 50%;
    height: 85%;
    position: absolute;
    top: 15%;
    left: 50%;
}

.infoImg img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.infoTitle {
    width: 200px;
    background-color: red;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 5%;
}

.infoContent {
    width: 40%;
    height: 50%;
    background-color: lightgreen;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 7%;
}

.mainBlock3 {
    width: 100%;
    height: 600px;
    position: relative;
    top: -4px;
    background-color: #999FFF;
}

.mainImg3 {
    width: 65%;
    height: 100%;
}

.mainImg3 img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.specialBlock {
    width: 35%;
    height: 100%;
    position: relative;
    bottom: 100%;
    left: 65%;
    background-color: lightpink;
}

.specialDiv {
    width: 70%;
    height: 70%;
    background-color: navy;
    position: absolute;
    top: 15%;
    left: 15%;
}

.specialTitle {
    width: 200px;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 5%;
    left: 10%;
}

.specialContent {
    width: 80%;
    height: 70%;
    background-color: lightgreen;
    position: absolute;
    top: 25%;
    left: 15%;
}

.mainBlock4 {
    width: 100%;
    height: 600px;
    background-image: url(/Cake/image/mainImg/mainImg4.jpg);
    position: relative;
    top: -4px;
    background-color: #FFF000;
}

.expSharing {
    width: 70%;
    height: 100%;
    background-color: aquamarine;
    position: absolute;
    left: 15%;
}

.expTitle {
    width: 16%;
    text-align: center;
    background-color: red;
    position: absolute;
    top: 5%;
    left: 40%;
}

.expContent {
    width: 100%;
    height: 75%;
    background-color: lightgreen;
    position: absolute;
    top: 25%;
}