.menuContainer {
    position: relative;
    padding-top: 85px;
}

.menuBlock1 {
    width: 100%;
    height: 360px;
    margin-top: 85px;
}

.menuBlock1 img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.menuBlock1 p {
    display: inline-block;
    background-color: #ffa237;
    color: #885500;
    border-radius: 8px;
    width: 360px;
    height: 80px;
    padding-top: 12px;
    font-size: 48px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    bottom: 80%;
    left: 35%;
}

.kindNavbar {
    width: 75%;
    height: 60px;
    background-color: #797979;
    border-radius: 8px;
    margin: 42px 12.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuBlock2 {
    width: 75%;
    background-color: #fff;
    position: relative;
    left: 12.5%;
}

.menuInfoDiv {
    width: 70%;
    height: 240px;
    background-color: #ffa237;
    margin: 24px 0;
    position: relative;
    left: 15%;
}

.menuInfoDiv a:hover {
    cursor: pointer;
    filter: contrast(120%);
}

.menuInfoDiv img {
    object-fit: fill;
    width: 50%;
    height: 100%;
}

.menuInfoContent {
    background-color: #ffa237;
    color: #885500;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.menuInfoContent ul {
    margin: 8% 5%;
}

.menuInfoContent li {
    list-style: none;
    padding: 8px 0;
    font-size: 20px;
}

.kindBlock {
    display: flex;
}

.kindBlock div {
    margin: 16px;
    font-size: 18px;
    color: #f1f1f1;
}

/* The container */
.container {
    display: block;
    position: relative;
    top: 16px;
    padding-left: 32px;
    margin-right: 8px;
    margin-bottom: 12px;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ffbf00;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ffa237;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.dropbtn {
    background-color: #ffa237;
    color: #885500;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffbf00;
}

*{
    color: red;
    background-color: red;
}