/* .menuContainer {
    position: relative;
    padding-top: 85px;
} */
body {
    background-image: url(../../image/mainbackgroundtest.png)
}

.menu {
    margin: 120px 0;
}

.menuBlock1 {
    width: 100%;
    height: 360px;
    margin-top: 85px;
}

.menuBlock1 img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.menuBlock1 p {
    display: inline-block;
    background-color: #ffa237;
    color: #885500;
    border-radius: 8px;
    width: 360px;
    height: 80px;
    padding-top: 12px;
    font-size: 48px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    bottom: 80%;
    left: 35%;
}

.kindNavbar {
    width: 75%;
    height: 60px;
    background-color: #797979;
    border-radius: 8px;
    margin: 42px 12.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.menuBlock2 {
    width: 90%;
    background-color: #ffeec3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    border-radius: 10px;
    /* position: relative;
    left: 5%; */
}

.menuInfoDiv {
    max-width: 240px;
    min-width: 200px;
    height: 200px;
    background-color: #ffa237;
    border-radius: 8px;
    /* border: #ea993e 9px solid; */
    margin: 24px 2px 160px;
    position: relative;
    left: 0;
    bottom: 1.3rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
}

.menuInfoDiv:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); */
}

.menuInfoDiv a {
    text-decoration: none;
}

.menuInfoDiv a:hover {
    cursor: pointer;
    filter: contrast(120%);
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.menuInfoDiv img {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
}

.menuInfoContent {
    /* background-color: #ffbc6f; */
    border-radius: 0 0 8px 8px;
    color: #885500;
    width: 100%;
    height: 67%;
    position: relative;
    bottom: 10%;
}

.menuInfo {
    padding-inline-start: 0;
}

/* .menuInfoContent li {
    list-style: none;
    text-align: center;
    padding: 4px 0;
    font-size: 20px;
} */


.scdName {
    list-style: none;
    text-align: center;
    padding: 4px 0;
    font-size: 20px;


}

.backgroundDiv {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    height: 339px;
    width: 225px;
    border-radius: 8px;
    background-color: #ffbc6f;
    border: 3px solid #ea993e;
    margin: 1.5rem;
}

.backgroundDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

/* ------------------------------------------------------------------- */

/* type navber */
.kindBlock {
    display: flex;
}

.kindBlock div {
    margin: 16px;
    font-size: 18px;
    color: #f1f1f1;
}

/* The container */
.container {
    display: block;
    position: relative;
    top: 16px;
    padding-left: 32px;
    margin-right: 8px;
    margin-bottom: 12px;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ffbf00;
    cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ffa237;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.dropbtn {
    background-color: #ffa237;
    color: #885500;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    cursor: pointer;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #ffbf00;
    cursor: pointer;
}

@media (max-width:960px) {
    body {
        width: 960px;
    }

    .kindNavbar {
        width: 710px;
    }

    .menuBlock2 {
        width: 864px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }
}

/* 8/9 add */

.titleName {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    background-color: #ffebd5;
}

.scdName {
    list-style: none;
    text-align: center;
    padding: 4px 0;
    font-size: 20px;
}