/* Navber */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #575757;
    color: #ffffff;
    z-index: 10;
}

.navbarTitle {
    margin: 12px 16px 8px 16px;
}

.navbarTitle img {
    width: 30%;
    /* height: 40px; */
}

.navbarTitle img:hover {
    cursor: pointer;
    filter: contrast(120%);
}

.navbarLink {
    height: 100%;
    font-weight: bold;
}

.navbarLink ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLink li {
    list-style: none;
    width: 100px;
}

.navbarLink li a {
    display: block;
    text-decoration: none;
    color: #ffbf00;
    padding: 18px;
}

.navbarLink a:hover {
    cursor: pointer;
    background-color: #555555;
    /* font-size: larger; */
    color: rgb(255, 255, 255);
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.hambuger {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 24px;
    padding: 4px;
}

.hambuger .bar {
    height: 4px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.hambuger:hover {
    background-color: #000000;
    cursor: pointer;
}




@media (max-width: 720px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hambuger {
        display: flex;
    }

    .navbarLink {
        display: none;
        width: 100%;
    }

    .navbarLink ul {
        width: 100%;
        flex-direction: column;
    }

    .navbarLink ul li {
        text-align: center;
    }

    .navbarLink ul li a {
        padding: 8px 16px;
    }

    .navbarLink.active {
        display: flex;
    }
}