.qaarea {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    background-color: #ffd761;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
    transition: 0.4s;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 5px;
    border-radius: 10px;
}

.active,
.accordion:hover {
    background-color: #ffedc4;
}

.panel {
    padding: 0 18px;
    display: none;
    border: #ccc solid 1px;
    border-top: 0;
    overflow: hidden;
    border-radius: 10px;
}

h2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #7a5500;
    background-color: #ffbf00;
    padding: 1.1rem;
    border-radius: 10px;
    text-align: center;
}

#mainPic {
    margin-top: 5rem;
    width: 100%;
}