body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}



/* Full-width input fields */
input[type=text],
input[type=password],
input[type=phone] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}


.signupbtn {
  background-color: #ffb12b;
  color: rgb(0, 0, 0);
  font-size: large;
  padding: 14px 20px;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

button:hover {
  opacity: 1;
}

/* The Modal (background) */
.modal {

  width: 100%;
  overflow: auto;

}

.modal-content {
  
  margin: 6% auto 5% auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff5d6c4;
  width: 50%;
  padding-bottom: 3rem;

}

hr {
  border: 1px solid #ca9b00;
  margin-bottom: 25px;
  width: 95%;
}

h2 {
  color: #885500;
  background-color:  #ffbf00;
  padding: 1.1rem;
  margin: 0;
  border-radius: 20px;
  text-align: center;
}

.scd-container {
  padding: 1.5rem;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .signupbtn {
    width: 100%;
  }
}