.selectarea {
    border: #6ce39e solid 2px;
    width: 9rem;
    display: block;
    margin-left: 3rem;
    text-align: center;
    font-size: large;
}

#sel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: #3a0071 solid 2px;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 10rem;
    padding: 2rem;
}

#hiadmin {
    border: #45a049 solid 2px;
    margin: auto 6rem;
    width: 10rem;
}

#changeToppic {
    display: flex;
}

body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 775px;
    margin-right: auto;
    margin-left: auto;
}



h2, h3 {
    text-align: center;
}

#osusume {
    width: 800px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
}
#newfilepic {
    border: 1px solid #f60000;
}

#osususmetext {
    margin: 10px;
    height: 10rem;
    word-wrap: break-word;
}

#checked {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}