/* 選擇按鈕CSS-s */
.selectarea {
    background-color: #ffbf00;
    width: 11rem;
    padding: 5px;
    display: block;
    margin-left: 3rem;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    border: #b98500 solid 2px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.selectarea:hover {
    background-color: #ff8a60c4;
    border: #f79a64c4 solid 2px;
    cursor: pointer;
    /* box-shadow: 0px 0px 7px rgb(154, 95, 0); */
}

#sel {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
    /* background-color: #ffbf00; */
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    padding: 2rem;
}
/* 選擇按鈕CSS-e */


h2 {
    color: #885500;
    background-color:  #ffbf00;
    padding: 1.1rem;
    margin: 0;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

input[type=text],
input[type=number],
input[type=file],
.select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: large;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

select {
    width: 50%;
}

.r1 {
    /* border: #00ff3c solid 2px; */
    border-radius: 15px;
    background-color:#fff5d6c4;
    width: 22rem;
    position: relative;
    float: left;
    height: 520px; 
    margin-top: 2rem;
    margin-left: 3.5rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

#checked {
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */

    margin: 4rem auto;
    font-size: larger;
    background-color: #ffbf00;
    border: #efa907 3px solid;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    color: black;
}

#feature, #material {
    height:100px;
    width: 290px;
    resize: none;
    font-size: 0.5rem;
}




/* 以下是修改產品的 */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px 30px;
    height: 3rem;
    position: relative;
    top: -1rem;
  }

div>h2 {
    position: relative;
    top: -0.5rem;
}  

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.row {
margin: 2rem;
}

.selectcake {
height: 3rem;
}